
@using FinancialSystem.Models;
@using FinancialSystem.Utilities;
@using FinancialSystem.Models.UserModels;
@using System.Threading.Tasks;
<!DOCTYPE html>

<html>



<head>

	<!--Import Google Icon Font-->

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600i,700,700i,900" rel="stylesheet">

	<!-- Compiled and minified CSS -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!--Import materialize.css-->
	<!--Let browser know website is optimized for mobile-->

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
	@{ 
		var user = (UserModel)Session[Config.GetAppSetting("SessionKey")];
		var logo = Config.GetCompanyLogo(user.employee.Company.Logo);
		var userProfilePict= Config.GetUserProfilePict(user.employee.Image);

	}

</head>
@Html.Hidden("SecurityStamp", user.SecurityStamp)


<body>

	<!-- Navbar goes here -->

	<nav>

		<div class="nav-wrapper">

			<a id="logo-container" href="#" class="brand-logo"><img src='@logo' alt="" class="logo"></a>

			<a href="#" class="notification"><i class="material-icons white-text">notifications</i> </a><small class="notification-badge yellow accent-2" >5</small>

			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

			<ul class="right hide-on-med-and-down">

				<li>

					<ul>

						<li>

							<a href="#"><img src='@userProfilePict' alt="" class="circle responsive-img"></a>

						</li>

					</ul>

				</li>

				<li>

					<a href="~/PR/ReviewCart" class="shopping">

						<i class="material-icons white-text">shopping_basket</i><small class="notification-badge yellow accent-2" id="cartCount">@ViewData["cartCount"]</small>

					</a>

				</li>

			</ul>

		</div>

	</nav>



	<ul class="sidenav" id="mobile-demo">

		<li class="active"><a href="#"><i class="material-icons">dashboard</i> Dash Board</a></li>

		<li><a href="#"><i class="material-icons">assignment</i> Purchase Request</a></li>

		<li><a href="#"><i class="material-icons">format_quote</i> Quote Analysis</a></li>

		<li><a href="#"><i class="material-icons">shopping_cart</i> Purchase Order</a></li>

		<li><a href="#"><i class="material-icons">list</i>Items</a></li>

		<li><a href="usermaintenance.html"><i class="material-icons">settings</i> Settings</a></li>

	</ul>

	<!-- Page Layout here -->

	<header>

		<div class="row">

			<div class="col s2">
                <ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(-105%);">
					<li>
						<div class="brand-logo"><img src="@logo" alt="" class="logo"></div>
						<ul class="collapsible">
							<li>
								<div class="collapsible-header">
									<a href="~/PR/PRAproover">
										<i class="material-icons">dashboard</i>Dash
										Board</a>
</div>
							</li>
							<li>
								<div class="collapsible-header">
									<i class="material-icons">assignment</i>Purchase Request
								</div>
								<div class="collapsible-body">
									<ul>
										<li><a href="~/PR/PRShop?itemType=Catalog"><i class="material-icons">event_available</i>Catalog</a></li>
										<li><a href="~/PR/PRShop?itemType=NonCatalog"><i class="material-icons">event_busy</i>Non Catalog</a></li>
									</ul>
								</div>
							</li>
							@foreach (var role in user.Roles) {
								if (role.RoleType == UserRoleType.Purchaser && role.DeleteTime == null) {
									@*<li><a href="QuoteAnalysis"><i class="material-icons">assignment</i>Quote Analysys</a></li>*@
									<li>
										<div class="collapsible-header">
											<i class="material-icons">assignment</i>Quote Analysys
										</div>
										<div class="collapsible-body">
											<ul>
												<li><a href="~/PR/QuoteAnalysis"><i class="material-icons">event_available</i>Add</a></li>
												<li><a href="~/PR/UpdateViewQA"><i class="material-icons">event_available</i>Update/View</a></li>
											</ul>
										</div>
									</li>
									break;
								}
							}
							<li>
								<div class="collapsible-header">
									<i class="material-icons">shopping_cart</i>Purchase Order
								</div>
								<div class="collapsible-body">
									<ul>
										<li>
											<a href="~/PO/PRSearch">
												<i class="material-icons">format_quote</i>PO Creation
											</a>
										</li>
										<li>
											<a href="~/PO/POSearch">
												<i class="material-icons">format_quote</i>PO View/Update
											</a>
										</li>
										<li>
											<a href="~/PO/POApprover">
												<i class="material-icons">format_quote</i>PO Approver
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<div class="collapsible-header"><i class="material-icons">settings</i>Settings</div>
								<div class="collapsible-body">
									<ul>
										<li>
											<a href="../user/Register">
												<i class="material-icons">perm_contact_calendar</i>User
												Registration
											</a>
										</li>
									</ul>
								</div>
							</li>

                            <li>
                                <div class="collapsible-header"><i class="material-icons">arrow_downward</i>Maintenance</div>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/ItemMaintenance/AddItems">
                                                <i class="material-icons">add</i>Add New Items                                               
                                            </a>
                                        </li>
										<li>
											<a href="~/ChargeLocation/AddChargeLocation">
												<i class="material-icons">add</i>Add New Charge Location
											</a>
										</li>
										<li>
											<a href="~/Company/AddCompany">
												<i class="material-icons">add</i>Add New Company
											</a>
										</li>
                                    </ul>
                                </div>
                            </li>
						</ul>
					</li>
                </ul>

			</div>

			<div>

				@RenderBody()

			</div>

		</div>

	</header>
@if ((string)ViewData["pageName"] == "QuoteAnalysis") {
	<script>

        document.addEventListener('DOMContentLoaded', function () {

        	var elems = document.querySelectorAll('.sidenav');
        	var instances = M.Sidenav.init(elems);
        	var elems = document.querySelectorAll('.collapsible');
        	var instances = M.Collapsible.init(elems);
			var elems = document.querySelectorAll('.modal');
			var instances = M.Modal.init(elems);
			var elems = document.querySelectorAll('select');
			var instances = M.FormSelect.init(elems);
			var elems = document.querySelectorAll('.datepicker');
			var instances = M.Datepicker.init(elems);
        });
	</script>
} else if ((string)ViewData["pageName"] == "QuoteAnalysisUV") {
<script>
	document.addEventListener('DOMContentLoaded', function () {
		var elems = document.querySelectorAll('.sidenav');
		var instances = M.Sidenav.init(elems);
		var elems = document.querySelectorAll('.modal');
		var instances = M.Modal.init(elems);
		var elems = document.querySelectorAll('.collapsible');
		var instances = M.Collapsible.init(elems);
		//var instance = M.FormSelect.getInstance(elem);
	});
</script>
} else {
	<script>
        document.addEventListener('DOMContentLoaded', function () {
        	var elems = document.querySelectorAll('.sidenav');
        	var instances = M.Sidenav.init(elems);
        	var elems = document.querySelectorAll('.collapsible');
        	var instances = M.Collapsible.init(elems);
        	
        });
	</script>
}
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
</body>



</html>