
@{
    Layout = null;
}

<!DOCTYPE html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/User/login")
    @Scripts.Render("~/scripts/user/login")
    @Html.Hidden("ApiServer", ViewData["ApiServer"])
    </head>
<body>

    <div class="row">
        <div class="col s7">

        </div>

        <div class="col s5">
            <div class="login">
                <div class=""><img src="~/Content/images/bsi_logo.png" alt="" class="logo"></div>
                <br><br>
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_box</i>
                    <input id="UserName" type="text" class="validate">
                    <label for="UserName">User Name</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="Password" type="password" class="validate">
                    <label for="Password">Password</label>
                </div>
                <br><br>
                <label class="left">
                    <input type="checkbox" id="RememberMe"/>
                    <span>Remember me</span>
                </label>
                <a class="waves-effect waves-light btn-large right" onclick="logIn()"><i class="material-icons right" >send</i>SIGN IN</a>
                <div class="row">
                    <div class="col s12">
                        <div id="register">
                            <a href="#" class="href">
                                <p>Forgot Password
                            </a> <span style="color:#292929">|</span> <a href="" class="href">Register</p></a>
                        </div>
                    </div>
                </div>
                <div class="footer">Powered by: Back Office Solutions Inc.</div>
            </div>
        </div>

        </div>


        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
