
@{
    
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/User/registration")
</head>
    
<body>
    <div class="row">
        <div class="col s7">

        </div>
        <div class="col s5">
            <div class="login">
                <div class="header">
                    <h1>Registration</h1>
                </div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="contact_numbre" type="number" class="validate">
                                <label for="contact_number">Contact Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="employeeNo" type="text" class="validate">
                                <label for="employeeNo">Employee Number</label>
                                
                                
                            </div>
                            <div class="input-field col s12 m6">
                                <span style="float:left;">Department</span>
                                <select class="browser-default icons">
                                    <option value="" disabled selected>Select</option>
                                    <option value="1">example 1</option>
                                    <option value="2">example 2</option>
                                    <option value="3">example 3</option>
                                </select>
                                
                            </div>
                            <div class="input-field col s6">
                                <span style="float:left;">Job Title</span>
                                <select class="browser-default">
                                    <option value="" disabled selected>Select</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="cpassword" type="password" class="validate">
                                <label for="cpassword">Confirm Password</label>
                            </div>
                        </div>
                        <a class="waves-effect waves-light btn-large"><i class="material-icons right">send</i>Submit</a>
                    </form>
                </div>

            </div>
        </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);
            });
        </script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
