body {
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
  }
  
  /*Nav*/
  nav {
    background-color: #388E3C !important;
    box-shadow: none;
  }
  
  nav .notification {
    margin-left: 350px;
    position: absolute;
    color: #fff;
    font-size: 2.1rem;
    padding-top: 0px;
    border-radius: 50%;
  }
  
  nav .notification a {
    height: 60px;
  }
  
  .circle {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  nav ul a {
    height: 60px;
  }
  
  nav ul a:hover {
    background-color: #388E3C !important;
    height: 60px;
  }
  
    /*Badge*/
    
    .notification-badge {
      position: relative;
      right: -20px;
      top: -60px;
      color:Red;
      margin: 0 -.8em;
      border-radius: 50%;
      padding: 1px 5px;
  }
  
  small {
    font-size: 60%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
  }
  
  /*SideNav*/
  .brand-logo img {
    width: 100px;
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sidenav {
    background-image: url("../images/background/light_green.jpg");
    font-family: 'Titillium Web', sans-serif;
  }
  .sidenav a {
    color: #4d4d4d;
}
  .sidenav a:hover {
    color: #388E3C;
  }
  .sidenav li>a>i.material-icons {
    color: #388E3C;
    font-weight: 700;
  }
  .submenu {
    margin-left: 25px;
    padding-left: 5px;
  }
  
  .sidenav .collapsible-body, .sidenav.fixed .collapsible-body {
    background-color: rgba(0, 0, 255, 0) !important;
    padding-bottom: 0px;
  }
  
  .icons {
    font-size: 1rem;
  }
  
  /*container*/
  .content {
    padding-left: 350px;
  }
  
  .container {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .btn-floating {
    margin-bottom: 10px;
  }

  /*Search*/
  .search {
      margin-top: 100px;
      background-color: white;
  }
  
  .card-panel {
    margin-top: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
  }

  p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

#price {
    color: red;
    font-size: 18pt;
    margin-top: -10px;
}
.btn, .btn-large, .btn-small {
    display: block;
    margin-top: 100px;
    height: 50px;
    line-height:50px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    background-color: white;
    color: #388E3C;
    
}

.btn, .btn-large, .btn-small a:hover {
  box-shadow: none;
}

  @media only screen and (max-width: 700px) {
  
    .notification-badge {
      position: relative;
      margin-top: 0px;
      right: -20px;
      top: -70px;
      border-radius: 50%;
      background-color: white;
      color: red;
      padding: 1px 8px;
      font-family: 'Titillium Web', sans-serif;
    }
  
    .content {
      padding-left: -50px;
    }
    nav i.material-icons {
      margin-right: -20px;
    }
    #price {
        color: red;
        font-size: 10pt;
        margin-top: -10px;
    }
  }

  @media only screen and (max-width: 700px) {
  
    .notification-badge {
      position: relative;
      margin-top: 0px;
      right: -20px;
      top: -70px;
      border-radius: 50%;
      background-color: white;
      color: red;
      padding: 1px 8px;
      font-family: 'Titillium Web', sans-serif;
    }
  
    .content {
      padding-left: -50px;
    }
    nav i.material-icons {
      margin-right: -20px;
    }
    #price {
        color: red;
        font-size: 18pt;
        margin-top: -10px;
    }
  }
  
  
  