body {
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
  }
  
  /*Nav*/
  nav {
    background-color: #388E3C !important;
    box-shadow: none;
  }
  
  nav .notification {
    margin-left: 350px;
    position: absolute;
    color: #fff;
    font-size: 2.1rem;
    padding-top: 0px;
    border-radius: 50%;
  }
  
  nav .notification a {
    height: 60px;
  }
  
  .circle {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  nav ul a {
    height: 60px;
  }
  
  nav ul a:hover {
    background-color: #388E3C !important;
    height: 60px;
  }
  
    /*Badge*/
    
    .notification-badge {
      position: relative;
      right: -20px;
      top: -60px;
      color:Red;
      margin: 0 -.8em;
      border-radius: 50%;
      padding: 1px 5px;
  }
  
  small {
    font-size: 60%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
  }
  
  /*SideNav*/
  .brand-logo img {
    width: 100px;
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sidenav {
    background-image: url("../images/background/light_green.jpg");
    font-family: 'Titillium Web', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sidenav a {
    color: #4d4d4d;
}
  .sidenav a:hover {
    color: #388E3C;
  }
  .sidenav li>a>i.material-icons {
    color: #388E3C;
    font-weight: 700;
  }
  .submenu {
    margin-left: 25px;
    padding-left: 5px;
  }
  
  .sidenav .collapsible-body, .sidenav.fixed .collapsible-body {
    background-color: rgba(0, 0, 255, 0) !important;
    padding-bottom: 0px;
  }
  
  .icons {
    font-size: 1rem;
  }
  
  /*container*/
  .content {
    padding-left: 350px;
  }
  
  .container {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .btn-floating {
    margin-bottom: 10px;
  }

  /*Search*/
  .searchbox {
    float: left;
    background-color: white;
    margin-top: 100px;
  }
  .search {
    float: right;
    background-color: white;
    padding: 10px;
    margin-top: 100px;
    width: 85%;
    margin-bottom: 50px;
  }
  
  .card-panel {
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
  }

  p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

#price1 {
  text-align: center;
  color: #388E3C;
  font-size: 25pt !important;
  margin-top: -10px;
  font-size: medium;
  font-weight: 700;
  line-height: 70px;
}
.btn, .btn-large, .btn-small {
    display: block;
    height: 75px;
    line-height:75px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    background-color: white;
    color: #388E3C;
    box-shadow: none;
}

.btn-cart {
  display: block;
  height: 50px;
  line-height:50px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  background-color: #388E3C;
  color: white;
  box-shadow: none;
  text-align: center;
  border-radius: 5px;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
  box-shadow: none;
  background-color: white !important;
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
  background-color: white !important;
}

/*Modal*/
.modal-close {
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  margin-right: 20px;
}

.modal-content {
  padding: 10px;
  overflow-y:hidden;
}
.input-field {
  margin-left: 30px !important;
}
.btn-floating {
  margin-top: 25px;
  margin-right: 60px;
}
.pagination {
  padding-top: 200px !important;
}

@media only screen and (max-width: 400px) {

  .btn, .btn-large, .btn-small {
    display: block;
    height: 50px;
    line-height:50px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    background-color: white;
    color: #388E3C;
    box-shadow: none;
}
  nav .notification {
    margin-left: 300px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
  }
  #price1 {
    text-align: center;
    color: #388E3C;
    font-size: 15pt !important;
    margin-top: -10px;
    font-size: medium;
    font-weight: 700;
    line-height: 70px;
  }

  .input-field {
    margin-left: 30px !important;
  }

  .btn-floating {
    margin-top: 25px;
    margin-right: 10px;
}


    /*Search*/
    .searchbox {
      display: block;
      background-color: white;
      margin-top: 100px;
    }
    .search {
      background-color: white;
      padding: 10px;
      margin-top: 10px;
      width: 100%;
}
.pagination {
  padding-top: 200px !important;
}
}

@media only screen and (max-width: 600px) {

  
    .notification-badge {
      position: relative;
      margin-top: 0px;
      right: -20px;
      top: -70px;
      border-radius: 50%;
      background-color: white;
      color: red;
      padding: 1px 8px;
      font-family: 'Titillium Web', sans-serif;
    }
    nav .notification {
      margin-left: 500px;
      font-family: 'Titillium Web', sans-serif;
      font-size: 20px;
    }
  .content {
      padding-left: -50px;
    }
    nav i.material-icons {
      margin-right: -20px;
    }
    
  }

  @media only screen and (max-width: 700px) {
  
    .notification-badge {
      position: relative;
      margin-top: 0px;
      right: -20px;
      top: -70px;
      border-radius: 50%;
      background-color: white;
      color: red;
      padding: 1px 8px;
      font-family: 'Titillium Web', sans-serif;
    }
    nav .notification {
      margin-left: 600px;
      font-family: 'Titillium Web', sans-serif;
      font-size: 20px;
    }
  
    .content {
      padding-left: -50px;
    }
    nav i.material-icons {
      margin-right: -20px;
    }
        /*Search*/
        .searchbox {
          display: block;
          background-color: white;
          margin-top: 100px;
        }
        .search {
          background-color: white;
          padding: 10px;
          margin-top: 10px;
          width: 100%;
    }
  }
  @media only screen and (max-width: 900px) {
    nav .notification {
      margin-left: 300px;
      font-family: 'Titillium Web', sans-serif;
      font-size: 20px;
    }
    .pagination {
      padding-top: 200px !important;
    }
  }
  
  
  