@model FinancialSystem.Models.UserModel
@{
    ViewBag.Title = "Purchase Request";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
	
}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600i,700,700i,900" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import materialize.css-->
 
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

@Styles.Render("~/Content/PR/pr-shop")
@Scripts.Render("~/scripts/PR/PR")
@Html.Hidden("ApiServer", ViewData["ApiServer"])
@Html.Hidden("ItemImagePath", ViewData["ItemImagePath"])
<div class="col s10 content">
	<div class="container">
		<div class="row">
			<div class="category">
				<div class="row">

                    <div class="search"><input type="text" id="search" placeholder="Search" onkeyup="search(event)"></div>
				</div>
			</div>

			
			<div id="ItemContainer">

			</div>
			
			

			<div class="pagination">
				<ul class="pagination center">
					<li class="disabled">
						<a href="#!"><i class="material-icons">chevron_left</i></a>
					</li>
					<li class="active green darken-2"><a href="#!">1</a></li>
					<li class="waves-effect"><a href="#!">2</a></li>
					<li class="waves-effect"><a href="#!">3</a></li>
					<li class="waves-effect"><a href="#!">4</a></li>
					<li class="waves-effect"><a href="#!">5</a></li>
					<li class="waves-effect">
						<a href="#!"><i class="material-icons">chevron_right</i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	

</div>

