
@{
    ViewBag.Title = "PRShop";
    Layout = "~/Shared/_LayoutPage1.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600i,700,700i,900" rel="stylesheet">
@Styles.Render("~/Content/PR/pr-shop")
<div class="col s10 content">
	<div class="container">
		<div class="row">
			<div class="category">
				<div class="row">
					<div class="col s2">
						<!-- Dropdown Trigger -->
						<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Category</a>

						<!-- Dropdown Structure -->
						<ul id='dropdown1' class='dropdown-content'>
							<li><a href="#!">one</a></li>
							<li><a href="#!">two</a></li>
							<li><a href="#!">three</a></li>
							<li><a href="#!">four</a></li>
							<li><a href="#!">five</a></li>
						</ul>
					</div>
					<div class="col s10 search"><input type="text" id="search" placeholder="Search"></div>
				</div>
			</div>

			<div class="col s12 m3">
				<div class="card-panel">
					<div class="itemImg">
						<img src="~/content/images/items/shoes-thumb.jpg" alt="" class="responsive-img">
					</div>
					<div class="desc">
						<p>Rubber Shoes</p>
					</div>
					<div class="price">
						<p id="price">&#8369; 1,500.00</p>
					</div>
					<div class="button">
						<a class="waves-effect waves-light btn green accent-3">Add to Cart</a>
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card-panel">
					<div class="itemImg">
						<img src="~/content/images/items/id-lace-thumb.jpg" alt="" class="responsive-img">
					</div>
					<div class="desc">
						<p>ID Lace</p>
					</div>
					<div class="price">
						<p id="price">&#8369; 32.00</p>
					</div>
					<div class="button">
						<a class="waves-effect waves-light btn green accent-3">Add to Cart</a>
					</div>

				</div>
			</div>
			<div class="col s12 m3">
				<div class="card-panel">
					<div class="itemImg">
						<img src="~/content/images/items/samsung-thumb.jpg" alt="" class="responsive-img">
					</div>
					<div class="desc">
						<p>Samsung TV</p>
					</div>
					<div class="price">
						<p id="price">&#8369; 6,000.00</p>
					</div>
					<div class="button">
						<a class="waves-effect waves-light btn green accent-3">Add to Cart</a>
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card-panel">
					<div class="itemImg">
						<img src="~/content/images/items/ballpen-black-thumb.jpg" alt=""
							 class="responsive-img">
					</div>
					<div class="desc">
						<p>Ballpen Black</p>
					</div>
					<div class="price">
						<p id="price">&#8369; 10.00</p>
					</div>
					<div class="button">
						<a class="waves-effect waves-light btn green accent-3">Add to Cart</a>
					</div>
				</div>
			</div>

			<div class="pagination">
				<ul class="pagination center">
					<li class="disabled">
						<a href="#!"><i class="material-icons">chevron_left</i></a>
					</li>
					<li class="active green darken-2"><a href="#!">1</a></li>
					<li class="waves-effect"><a href="#!">2</a></li>
					<li class="waves-effect"><a href="#!">3</a></li>
					<li class="waves-effect"><a href="#!">4</a></li>
					<li class="waves-effect"><a href="#!">5</a></li>
					<li class="waves-effect">
						<a href="#!"><i class="material-icons">chevron_right</i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

