
@{
    ViewBag.Title = "UpdateViewQA";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@Styles.Render("~/Content/PR/quote-analysis")
@Scripts.Render("~/scripts/PR/QuoteAnalysis")
<div class="col s10 content">
	<div class="container">
		<div class="row">
				<div class="row">

					<div class="search"><input type="text" id="search" placeholder="Search" onkeyup="search(event)"></div>
				</div>
		
			<div id="QAContainer">

			</div>
		</div>
	</div>


</div>
