<div class="col s12" id="header-approver">
	<ul class="collapsible">
		<li>
			<div class="collapsible-header" id="po-C1">
				<div class="col s2" id="creation_details">
					0001
				</div>
				<div class="col s2" id="creation_details">
					Nike Shoes
				</div>
				<div class="col s2" id="creation_details">
					1,500.00
				</div>
				<div class="col s2" id="creation_details">
					JUAN MIGUEL
				</div>
				<div class="col s2" id="creation_details">
					ACCOUNTING
				</div>
				<div class="col s2" id="creation_details">
					STATUS
				</div>
			</div>
			<div class="collapsible-body" id="po-C">
				<div class="row">
					<div class="col s6">
						<img src="images/bsi_logo-small.png" alt="" class="src">
					</div>
					<div class="col s6" id="pr-title">P.O. CREATION</div>
					<div class="col s6" id="address">
						Unit 1103, 11F Pearl of the Orient Tower,<br>
						1240 Roxas Blvd. Brgy. 667 Zone 072,<br>
						Ermita Manila 1000<br>
						<b>TIN: 008-349-500-000</b>
					</div>
					<div class="col s6" id="pr-number">
						Requisition Number: <b><span id="pr-num">0001</span></b><br>
						Date Prepared:<br>
						Date Needed: <input type="text" id="datepicker"><br>
						Date Approve:
					</div>
					<div id="info0">
						<div class="col s6" id="info"><b>Company:</b> Company Here</div>
						<div class="col s6" id="info">
							<b>Requestor Name:</b> Name Of Requestor
						</div>
						<!-- Modal Structure -->
						<div id="modal1" class="modal">
							<div class="modal-content">
								<h4>Search Requestor</h4>
								<form autocomplete="off" action="">
									<div class="autocomplete">
										<input id="myInput" type="text" name="requestor"
											   placeholder="Search Requestor">
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<a href="#!"
								   class="modal-close waves-effect waves-green btn-flat">OK</a>
							</div>
						</div>
						<!-- End Modal -->
						<div class="col s6" id="info"><b>Business Unit:</b> Auto Fill</div>
						<div class="col s6" id="info"><b>Cost Revenue Center (CRC):</b> CRC</div>
						<div class="col s6" id="info"><b>Company Address:</b></div>
						<div class="col s6" id="info">
							<b>Category Account Code:</b> Account Code
						</div>
						<div class="col s6" id="info">
							Unit 1103, 11F Pearl of the Orient Tower,
							1240 Roxas Blvd. Brgy. 667 Zone 072,
							Ermita Manila 1000
						</div>
						<div class="col s6" id="info"></div>
						<div class="col s12">
							<table class="highlight">
								<thead style="background-color: #16A2AF;">
									<tr>
										<th>ITEM #</th>
										<th>ITEM CODE</th>
										<th>P.O. NUMBER</th>
										<th>DESCRIPTION</th>
										<th>SUPPLIER</th>
										<th>UOM</th>
										<th>QTY</th>
										<th>PRICE</th>
										<th>TOTAL AMOUNT</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>
											<label class="check-box">
												<input type="checkbox" class="filled-in" />
												<span>00001</span>
											</label>
										</td>
										<td>00001</td>
										<td>PO 12345</td>
										<td>Nike Shoes</td>
										<td>Supplier A</td>
										<td>Piece</td>
										<td>1</td>
										<td>1,500.00</td>
										<td>1,500.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col s6" id="nf">********** nothing follows **********</div>
						<div class="col s3" id="totalAmoumt">
							<b>
								TOTAL AMOUNT
							</b>
						</div>
						<div class="col s3">
							<hr class="line">
							<p id="vat">
								<b>
									Php 100,000.00<br>
							</p>
							<hr class="line">
							<p id="totalvat">Php 10,000,000.00</b></p>
						</div>
						<div class="col s12" id="note">
							<p id="noteto"><b>Note to Buyer: </b></p>
						</div>
						<a class="waves-effect waves-light btn amber right modal-trigger" href="#modal7"
						   id="add-button">ADD to P.O.</a>
						<a class="waves-effect waves-light btn right green modal-trigger"
						   href="#modal6">CREATE P.O.</a>
						<!-- Modal Structure -->
						<div id="modal3" class="modal">
							<div class="modal-content">
								<h4>Note to buyer</h4>
								<form autocomplete="off" action="">
									<div class="noteTobuyer">
										<textarea id="notoTobuyer" type="textarea" name="notoTobuyer"
												  placeholder=""></textarea>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<a href="#!"
								   class="modal-close waves-effect waves-green btn-flat">OK</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>

	<div class="progress">
		<div class="indeterminate"></div>
	</div>
</div>

<div class="col s12" id="submit">
	<!-- Modal Structure Add to P.O. -->
	<div id="modal7" class="modal">
		<div class="modal-content">
			<p>Are you sure you want to Add this P.O?</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"
			   onclick="M.toast({html: 'PR #0001 has been approved',  classes: 'rounded'})">Yes</a>
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
		</div>
	</div>

	<!-- Modal Structure Create P.O. -->
	<div id="modal6" class="modal">
		<div class="modal-content">
			<p>Are you sure you want to create this P.O?</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"
			   onclick="M.toast({html: 'PR #0001 has been approved',  classes: 'rounded'})">Yes</a>
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
		</div>
	</div>
</div>
